@model Inventory.Models.Department

@{
    ViewBag.Title = "Details";
}

<title>Department Details</title>

<style type="text/css">
    dt {
        padding-left: 5px;
    }

    dd {
        padding-left: 5px;
        background-color: #FFFFFF;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Department Details</h2>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="card bg-light mb-3">
        <div class="card-body">

            <dl class="dl-horizontal" padding-left: 5px;>

                <dt>
                    @Html.DisplayName("Department Name :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dep_Nam)
                </dd>

                <dt>
                    @Html.DisplayName("Created By :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created_By)
                </dd>

                <dt>
                    @Html.DisplayName("Updated By :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated_By)
                </dd>

                <dt>
                    @Html.DisplayName("Created At :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created_At)
                </dd>

                <dt>
                    @Html.DisplayName("Updated At :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated_At)
                </dd>

                <dt>
                    @Html.DisplayName("Priority :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

            </dl>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Dep_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>
