@model Inventory.Requests.ChangePasswordRequest

@{
    ViewBag.Title = "Create";
}

<title>Create User</title>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Create User</h2>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    @if (ViewBag.message != null)
    {
    <div class="alert alert-success"><strong><i class="fa fa-vote-yea"></i></strong> @ViewBag.message</div>
    }

    <div class="card bg-light mb-3">
        <div class="card-body form-horizontal">
            @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @id = "pwdform" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                <fieldset>
                    <legend>Personal Data:</legend>
                    <div class="row form-group">
                        <label for="curPassword" class="control-label col-md-2">Current Password :</label>
                        <div class="col-md-4">
                            <input name="curPassword" type="password" class="form-control" />
                            @Html.ValidationMessageFor(x => x.curPassword)
                        </div>

                    </div>  <div class="row form-group">
                        <label for="newPassword" class="control-label col-md-2">New Password :</label>
                        <div class="col-md-4">
                            <input name="newPassword" type="password" class="form-control" /><a class="btn btn-secondary text-white btnShow"><i class="fa fa-eye"></i></a>

                            @Html.ValidationMessageFor(x => x.newPassword)
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnSuggestPassword" class="btn btn-primary"><i class="fa fa-key"></i> Generate</button>

                        </div>

                    </div>  <div class="row form-group">
                        <label for="conPassword" class="control-label col-md-2">Confirm Password :</label>
                        <div class="col-md-4">
                            <input name="conPassword" type="password" class="form-control" />
                            @Html.ValidationMessageFor(x => x.conPassword)
                        </div>

                    </div>


                    <div class="form-group">
                        <div class=" col-md-10">
                            <a href="/" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>
                            <button type="button" id="save" class="btn btn-primary"><i class="fa fa-save"></i> Change Password</button>

                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>

</section>
<style>
    .btnShow {
        position: absolute;
        right: 9px;
        margin-top: -38px;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function () {
            $("#save").click(function () {
                $(this).find("i").addClass("fa-spinner fa-spin").attr("disabled", true);
                $("#pwdform").submit();
            })
            $("#btnSuggestPassword").click(function () {
                let btn = $(this);
                btn.find("i").addClass("fa-spinner fa-spin");
                btn.attr("disabled",true);
                $.ajax({
                    url: "/Users/SuggestPassword", method: "post",
                    success: function (res) {
                        //console.log(res);
                        $("input[name=newPassword]").val(res).attr("type","text");
                        $("input[name=conPassword]").val(res).attr("type", "text");
                        btn.find("i").removeClass("fa-spinner");
                        btn.find("i").removeClass("fa-spin");
                        btn.removeAttr("disabled");
                    },
                    error: function (err) {
                        $("input[name=newPassword]").val(err.responseText).attr("type", "text");
                        btn.find("i").removeClass("fa-spinner");
                        btn.find("i").removeClass("fa-spin");
                        btn.removeAttr("disabled");
                    }
                });
            })
            $(".btnShow").click(function (e) {
                e.preventDefault();
                console.log(this);
                $("input[name=newPassword]").attr("type", $("input[name=newPassword]").attr("type")=="text"?"password":"text");
                $("input[name=conPassword]").attr("type", $("input[name=conPassword]").attr("type") == "text" ? "password" : "text");

                $(this).find("i").toggleClass("fa-eye-slash");

            })
          
        })
    </script>
}
