@model Inventory.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usr_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usr_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pho_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pho_Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Dep_Nam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Dep_Nam)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
