@model Inventory.Models.User

@{
    ViewBag.Title = "Details";
}



<title>User Details</title>

<style type="text/css">
    dt {
        padding-left: 5px;
    }

    dd {
        padding-left: 5px;
        background-color: #FFFFFF;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>User Details</h2>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="card bg-light mb-3">
        <div class="card-body">

            <dl class="dl-horizontal" padding-left: 5px;>

                <dt>
                    @Html.DisplayName("User Type :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usr_Type)
                </dd>

                <dt>
                    @Html.DisplayName("First Name :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.F_Name)
                </dd>

                <dt>
                    @Html.DisplayName("Last Name :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.L_Name)
                </dd>

                <dt>
                    @Html.DisplayName("Phone Number :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pho_Num)
                </dd>

                <dt>
                    @Html.DisplayName("Created By :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created_By)
                </dd>

                <dt>
                    @Html.DisplayName("Updated By :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated_By)
                </dd>

                <dt>
                    @Html.DisplayName("Created At :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created_At)
                </dd>

                <dt>
                    @Html.DisplayName("Updated At :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated_At)
                </dd>

                <dt>
                    @Html.DisplayName("Status :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                @*<dt>
                    @Html.DisplayName("Department Department Name :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Department.Dep_Nam)
                </dd>*@

            </dl>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Usr_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>
