@model IEnumerable<Inventory.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usr_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pho_Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Dep_Nam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usr_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pho_Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Dep_Nam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Usr_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Usr_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Usr_Id })
        </td>
    </tr>
}

</table>
