@model IEnumerable<Inventory.Models.User>

@{
    ViewBag.Title = "Index";
}


<title>Users Table</title>

<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Users Table</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @Html.ActionLink(" Create New", "Create", null, new { @class = "btn btn-info fa fa-plus" })
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Phone Number</th>
                                <th>User Type</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        @foreach(var itm in Model)
                        {


                        <tr style="@(!itm.Status?"background-color:#f4bdbd":"")">
                            <td>@itm.F_Name @itm.L_Name</td>
                           
                            <td>@itm.Department.Dep_Nam <a href="/Departments/Details/@itm.Dep_Id"><i class="fa fa-external-link"></i></a></td>
                            <td><a href="tel:@itm.Pho_Num"><i class="fa fa-phone"></i> @itm.Pho_Num</a></td>
                            <td>
                                @if (@itm.Usr_Type == 1)
                                {
                                    <label class="badge badge-info">Admin</label>
                                }
                                @if (@itm.Usr_Type == 2)
                                {
                                    <label class="badge badge-dark">User</label>
                                }
                                @if (@itm.Usr_Type == 3)
                                {
                                    <label class="badge badge-light">Employee</label>
                                }
                            </td>
                            <td>@itm.Created_At</td>
                            <td>@itm.Created_By</td>
                            @*<th>Department Department Name</th>*@
                        <th>
                            <a class="btn btn-success btn-sm fa fa-pencil" href="@Url.Action("Edit","Users",new { ID=itm.Usr_Id})" class="editUser"> Edit</a> | 
                            <a class="btn btn-secondary btn-sm fa fa-info" href="@Url.Action("Details","Users",new { ID=itm.Usr_Id})" class="detailsUser"> Details</a> | 
                            <a class="btn btn-danger btn-sm fa fa-trash" href="@Url.Action("Delete","Users",new { ID=itm.Usr_Id})" class="deleteUser"> Delete</a>
                        </th>
                        </tr>
                        }
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@Styles.Render("~/Content/styles")
@Scripts.Render("~/Content/scripts")

<!--font-awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{

    <script>
        $(document).ready(function () {
            $('#example1').dataTable({

                                        "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "autoWidth": true,

                @*"ajax": {
                    "url": "/Users/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Usr_Type", },
                    { "data": "F_Name","width":"auto" },
                    { "data": "L_Name","width":"auto" },
                    { "data": "Pho_Num","width":"auto" },
                    { "data": "Created_By","width":"auto" },
                    { "data": "Updated_By","width":"auto" },
                    { "data": "Created_At" },
                    { "data": "Updated_At" },
                    { "data": "Status" },
                    //{ "data": "Department.Dep_Nam" },
                    { "data": "Usr_Id", "render": function (data, type, full, meta) {
                         return '<a class="btn btn-success btn-sm fa fa-pencil" href="@Url.Action("Edit","Users")?id=' + data + '" class="editUser"> Edit</a> | <a class="btn btn-secondary btn-sm fa fa-info" href="@Url.Action("Details","Users")?id=' + data + '" class="detailsUser"> Details</a> | <a class="btn btn-danger btn-sm fa fa-trash" href="@Url.Action("Delete","Users")?id=' + data + '" class="deleteUser"> Delete</a>';
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"250px"
                    }
                ]*@
            });
        });

    </script>


}
