@model Inventory.Models.Request

@{
    ViewBag.Title = "Details";
}


    <title>Request Details</title>

<style type="text/css">
    dt {
        padding-left: 5px;
    }

    dd {
        padding-left: 5px;
        background-color: #FFFFFF;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Request Details</h2>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

    <section class="content">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayName("Request Number :")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Req_Id)
                    </dd>

                    <dt>
                        @Html.DisplayName("User :")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.F_Name)
                    </dd>

                    <dt>
                        @Html.DisplayName("Assets Type :")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Asset.Ast_Type)
                    </dd>

                    <dt>
                        @Html.DisplayName("Serial Number :")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Asset.Ser_Num)
                    </dd>

                    <dt>
                        @Html.DisplayName("Priority :")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Priority)
                    </dd>

                </dl>
            </div>

            <div>
                <a class="btn btn-success btn-sm fa fa-pencil" href="@Url.Action("Approve","Requests",new { ID = Model.Req_Id })" class="editRequest"> Approve</a> |

                <a class="btn btn-danger btn-sm fa fa-trash" href="@Url.Action("Reject","Requests",new { ID = Model.Req_Id })" class="deleteRequest"> Reject</a>

            </div>
        </div>
        <p>

            @Html.ActionLink("Back to List", "Index")
        </p>
    </section>
