@model IEnumerable<Inventory.Models.Request>

@{
    ViewBag.Title = "Index";
}

<title>Requests Table</title>

<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Requests Table</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Requests</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @Html.ActionLink(" Create New", "Create", null, new { @class = "btn btn-info fa fa-plus" })
                    @Html.ActionLink(" Waiting Requests", "Req_Suests", null, new { @class = "btn btn-info fa fa" })
                    @Html.ActionLink(" Approved Requests", "Req_Suests", null, new { @class = "btn btn-info fa fa" })
                    @Html.ActionLink(" Rejected Requests", "Req_Suests", null, new { @class = "btn btn-info fa fa" })
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Created By</th>
                                <th>Updated By</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                                <th>Priority</th>
                                <th>Status</th>
                                @*<th>Serial Number</th>
        <th>Transaction Created By</th>
        <th>First Name</th>*@
                                <th>Actions</th>
                            </tr>
                        </thead>
                        @foreach(var itm in Model)
                        {
                    <tr>
                        <th>@itm.Created_By</th>
                        <th>@itm.Updated_By</th>
                        <th>@itm.Created_At</th>
                        <th>@itm.Updated_At</th>
                        <th>@itm.Priority</th>
                        <th>@itm.Req_Status</th>
                        <th>
                            <a class="btn btn-success btn-sm fa fa-pencil" href="@Url.Action("Edit","Requests",itm.Req_Id)" class="editRequest"> Edit</a> |
                            <a class="btn btn-secondary btn-sm fa fa-info" href="@Url.Action("Details","Requests",itm.Req_Id)" class="detailsRequest"> Details</a> |
                            <a class="btn btn-danger btn-sm fa fa-trash" href="@Url.Action("Delete","Requests",itm.Req_Id)" class="deleteRequest"> Delete</a>
                        </th>
                    </tr>
                        }
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@Styles.Render("~/Content/styles")
@Scripts.Render("~/Content/scripts")

<!--font-awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{


    <script>
        $(document).ready(function () {
            $('#example1').dataTable({

                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "autoWidth": true,

                @*"ajax": {
                    "url": "/Requests/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Created_By","width":"auto" },
                    { "data": "Updated_By","width":"auto" },
                    { "data": "Created_At","width":"auto" },
                    { "data": "Updated_At","width":"auto" },
                    { "data": "Priority","width":"auto" },
                    { "data": "Priority","width":"auto" },
                    //{ "data": "Asset.Ser_Num","width":"auto" },
                    //{ "data": "Transaction.Created_By","width":"auto" },
                    //{ "data": "User.F_Name","width":"auto" },


                    { "data": "Req_Id", "render": function (data, type, full, meta) {
                         return '<a class="btn btn-success btn-sm fa fa-pencil" href="@Url.Action("Edit","Requests")?id=' + data + '" class="editRequest"> Edit</a> | <a class="btn btn-secondary btn-sm fa fa-info" href="@Url.Action("Details","Requests")?id=' + data + '" class="detailsRequest"> Details</a> | <a class="btn btn-danger btn-sm fa fa-trash" href="@Url.Action("Delete","Requests")?id=' + data + '" class="deleteRequest"> Delete</a>';
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"250px"
                    }
                ]*@
            });
        });
    </script>


}
